/*Removes any prexisting padding or marginal space from the html and body elements.*/

html body {
	margin: 0;
	padding: 0;
	/*Remove this background-color! It is here to make sure that the css and html are linked.*/
	background-color: #cccccc;
}

p {
	text-align: justify;
	color: black;
	font-size: 15px;
	width: 500px;
	border: 5px yellow dashed;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
}
